<div class="index-list list-group" id="index-list">
    <a class="list-group-item" href="#">Cras justo odio</a>
    <a class="list-group-item" href="#">Cras justo odio</a>
    <a class="list-group-item" href="#">Cras justo odio</a>
    <a class="list-group-item" href="#">Cras justo odio</a>
    <a class="list-group-item" href="#">Cras justo odio</a>
</div>