<nav class="left-nav" id="left-nav">
    <ul >
        <li>全局<ul>
                <li><a href="">关键字</a></li>
        </ul></li>
        <li>首页
            <ul>
                <li><a href="#picplayer">图片轮播</a></li>
                <li><a href="#rec">精品推荐</a></li>

            </ul>
        </li>
    </ul>


</nav>