<div class="toptips" id="toptips">
    <% if(error){ %>
    <div class="alert alert-danger"><%= error %></div>
    <% }else if(success){ %>
    <div class="alert alert-success"><%= success %></div>
    <% }; %>
</div>